crypto_aes_key: "1234567890"

# 数据加密，根据模块划分
encryption:
  user:
    version: "V1"
    key: "1234567890"
  resource:
    version: "V1"
    key: "1234567890"
  runner:
    version: "V1"
    key: "1234567890"

ldap:
  url: "ldap://localhost:389"
  base_dn: "DC=example,DC=com"
  bind_dn: "CN=cn,OU=ou,DC=example,DC=com"
  bind_password: "1234567890"
  username_attribute: "sAMAccountName"
  mail_attribute: "mail"
  display_name_attribute: "displayName"
  title_attribute: "title"
  group_name_attribute: "cn"
  user_filter: "(&(sAMAccountName={input})(!(UserAccountControl=514)))"
  group_filter: "(|(member={dn}))"

session:
  session_encrypted_key: "1234567890Key"
  cookie:
    domain: ".example.com"
    name: "ecmdb-token-key"

redis:
  addr: "localhost:6379"
  password: "123456"
  db: 0

casbin:
  redis:
    addr: "localhost:6379"
    db: 1
    password: ""

mongodb:
  dsn: mongodb://118.145.73.93:27017/ecmdb?authSource=admin
  db: ecmdb
  username: ecmdb
  password: 123456

mysql:
  dsn: test:test@tcp(localhost:3306)/ecmdb_test?charset=utf8mb4&parseTime=True&loc=Local&timeout=5s

kafka:
  network: tcp
  addresses:
    - localhost:9094

etcd:
  endpoints:
    - localhost:2379

minio:
  endpoint: localhost:9000
  accessKeyID: minio
  secretAccessKey: minio123
  useSSL: false

wechat:
  corpId: ""
  corpSecret: ""
  agentId: 1000002

feishu:
  appId: ""
  appSecret: ""

cronjob:
  enabled: true

frontend:
  logicflow_url: http://localhost:3333/logicflow-preview

grpc:
  server:
    name: "ecmdb"
    port: 8097
    etcdTTL: 60
    key: "1234567890"